.logo {
	height: 2rem;
}

footer {
	background-color: black;
	padding: 1rem 1rem;
	font-size: 2rem;
}

.top-bar {
	background-color: black;
}

.hero {
	background-size: cover;
}

.panel-radius {
	margin: 3;
}

aside {
	padding: 3rem 0; 
}


footer .logo {
	height: 5rem;
	text-align: center;
}

footer h3 {
	font-size: 1rem;
	text-align: center;
	color: white;
	border-right: white solid;
}

footer ul {
	float: right;
	text-align: center;
	color: white;
}

.fa {
	color: white;
}
